<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가만든폼</title>
</head>
<body>
    <form action = '#'>
        <h1>첫번째</h1>
        <p>제목:</p>
        {{form.title}}
        <p>내용:</p>
        {{form.text}}
        <p>좋아요</p>
        {{form.choice}}
    </form>
    <form action = "#">
        <h1>두번째</h1>
        <p>제목:</p>
        {{form2.title}}
        <p>내용:</p>
        {{form2.text}}
        <p>좋아요</p>
        {{form2.recommend}}
    </form>
</body>
</html>