{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>짱구의 최고의 짝꿍은?</title>
    <link rel = "stylesheet" type="text/css" href="{% static '짱구.css' %}">
</head>

<body>
    <div class="container">
    <h1 class = "header" style="text-align:center;">짱구의 최고의 짝꿍은 누구일까요?</h1> <!--제목-->

    <nav> <!--네브바-->
        <ul class = "nav-container">
            <li class = "nav-item" onclick="modalButtonClick">  A : 훈이 </li>
            <li class = "nav-item" onclick="modalButtonClick">  O : 철수 </li>
            <li class = "nav-item" onclick="modalButtonClick">  B : 유리 </li>
            <li class = "nav-item" onclick="modalButtonClick"> AB : 맹구 </li>
        </ul>
    </nav>

        <div class="container_box">
            <div class = "bloodTypeContainer"> <!--혈액형 선택창--> <!--혈액형 선택시 바로 스크롤해서 게임으로 넘어감--> <!--선택한 혈액형의 참여 인원은 +1-->
                <h5>당신의 혈액형에 맞는 캐릭터를 선택해주세요</h5>
                <img src="{% static 'img/훈이.png' %}" width="40%" height="25%" onclick="dem()">
                <img src ="{% static 'img/유리.png' %}" width="40%" height="25%" onclick="dem()">
                <br>
                <img src ="{% static 'img/철수.png' %}" width="40%" height="25%" onclick="dem()">
                <img src ="{% static 'img/맹구.png' %}" width="40%" height="25%" onclick="dem()">
                <br>
            </div>
        </div>

        <!--여기서부터 스크롤을 못하도록 제어할 순 없을까?-->
        <div class="container_box">
            <div class = "timeBox">
                <br>
                <div class = "clock">
                    <div class= "clock-face">
                        <div class = "hand hour-hand"></div>
                        <div class = "hand min-hand"></div>
                        <div class = "hand second-hand"></div>
                    </div>
                </div>
                <div id = "demo"></div>
            </div>

            <div class = "gameBox">
                <header><br><br><h1>★ 초코비게임 ★</h1></header>
                <h5>짱구를 위해 많은 초코비를 가져다 주면 당신은 최고의 짝꿍!
                    <br>제한시간 1분동안 가위바위보를 진행하여 많은 양의 초코비를 모으세요!
                    <br>우승 1번 당 초코비 1개가 쌓입니다 '3'
                </h5>
                <br><br><br>
                <div id = "game">
                <img src="{% static 'img/가위.png' %}" width="200px" height="200px" id="btnScissors">
                <img src="{% static 'img/주먹.png' %}" width="200px" height="200px" id="btnRock">
                <img src="{% static 'img/보.png' %}" width="200px" height="200px" id="btnPaper">
                
                <div id = "result"></div>
                </div>
                    
                
                <div id = "modal">
                    <div class = "modal_content">
                        <h5>
                            현재 짱구의 최고의 짝꿍은 OO 이에요.<br>
                            1위 : <br>
                            2위 : <br>
                            3위 : <br>
                            4위 : <br>
                        </h5>
                    </div>
                    <div class = "modal_layer"></div>
                </div>
            </div>

            <div class = "pointBox">
                <br><br><br><br>
                <img src ="{% static 'img/촉호비.png' %}" width="35%" height="15%">
                <br> 현재 초코비의 개수는
                <div id ="chocobee"></div>
                
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/static/짱구.js"></script>
    </body>
</html>